<header class="header">
    <div class="row-header">
        <div class="col-header">
            <a href="/" title="Logo" class="website-logo">TOTO</a>
        </div>
        <div class="col-header">
            <ul>
                <li *ngIf="!userServicePublic.isConnected()"><a href="/" title="Connexion">Connexion</a></li>
                <li *ngIf="!userServicePublic.isConnected()"><a href="/signup" title="Inscription">Inscription</a></li>
                <li *ngIf="userServicePublic.isConnected()"><button id="submit" (click)="goToUserList()">Utilisateurs</button></li>
                <li *ngIf="userServicePublic.isConnected()"><button id="submit" (click)="goToArticleList()">Articles</button></li>
                <li *ngIf="userServicePublic.isConnected()"><a href="#" title="Inscription">Déconnexion</a></li>
                <!-- <li><a href="/contact" title="Contact">Contact</a></li> -->
            </ul>
        </div>
    </div>
</header>
