<section>

    <div class="container">
        <div class="form-container">
            <div class="page-title">
                <h2>Contact</h2>
            </div>

            <form>
                <div class="row-field">
                    <label for="nom">Nom</label>
                    <input type="text" name="nom" id="nom" [(ngModel)]="nom" />
                </div>

                <div class="row-field">
                    <label for="prenom">Prénom</label>
                    <input type="text" name="prenom" id="prenom" [(ngModel)]="prenom" />
                </div>

                <div class="row-field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" [(ngModel)]="email" />
                </div>

                <div class="row-field">
                    <label for="tel">Téléphone</label>
                    <input type="tel" name="text" id="text" [(ngModel)]="tel" />
                </div>

                <div class="row-field">
                    <button id="submit" (click)="envoyer()">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>