/* General */
body {
    margin: 0 !important;
}


/* Website logo */
a.website-logo {
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

/* Header */
.row-header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    border-bottom: 1px solid silver;
}
.row-header .col-header ul li {
    display: inline-block;
    list-style: none;
    margin-left: 9px;
    transition: .25s all;
    border: 1px solid #ededed;
}
.row-header .col-header ul li:hover {
    border: 1px solid #938f8f;
}
.row-header .col-header ul li a {
    text-decoration: none;
    color: #5a086e;
    padding: 8px;
    display: block;
}
.row-header .col-header ul li button {
    transition: .25s all;
    border: 1px solid #ededed;
    text-decoration: none;
    color: #5a086e;
    padding: 8px;
    display: block;
    cursor: pointer;
    background-color: white;
    border: none;
    font-size: 1em;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    padding-top: 70px;
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    padding: 70px 0;
    min-height: 80vh;
}
.page-title h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

/* Form */
.form-container {
    max-width: 500px;
    margin: auto;
    border: 1px solid silver;
    padding-bottom: 40px;
}
.form-container .row-field {
    width: 80%;
    margin: auto;
}
.form-container .row-field label {
    display: block;
    padding: 15px 0 4px;
    font-size: 0.8em;
}
.form-container .row-field input,
.form-container .row-field textarea {
    width: 95%;
    padding: 5px;
}
.form-container .row-field button {
    margin: 20px 0;
    padding: 7px 15px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid gray;
}
.form-container .row-field button:hover {
    background: #5a086e;
    border: 1px solid #444343;
    color: white;
}

/* Footer */
app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer {
    padding: 0;
}
.footer-copyrights {
    padding: 15px;
    text-align: center;
    background: #545454;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
}
.footer-copyrights a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* User */
.form-container.user-container {
    max-width: inherit;
    padding: 0;
    margin: 32px 0;
}
.form-container.user-container .row-field.row-user-profile {
    padding: 0;
}
.form-container.user-container .profile-buttons button {
    padding: 7px 30px !important;
}

/* User profile */
.form-container.user-profile-container {
    max-width: inherit;
    padding: 40px 0;
    margin-bottom: 35px;
}
.profile-image img {
    width: 115px;
}
.profile-data {
    padding: 20px 0;
}
.profile-data div {
    padding: 5px 0;
}
.profile-buttons button {
    margin-right: 30px !important;
    padding: 7px 30px !important;
}
.form-container.user-profile-container.user-profile-article-comment {
    display: flex;
}
.user-profile-article, .user-profile-comment {
    width: 100%;
    padding: 0 10px;
}
.form-container.user-profile-container.user-profile-article-comment h2 {
    margin: 0 15px;
}
.form-container.user-profile-container.user-profile-article-comment .row-field.row-user-profile {
    width: 95%;
}
.user-profile-article-current, .user-profile-comment-current {
    border-bottom: 1px solid silver;
    width: 90%;
}

/* Articles */
.article-container {
    border: 1px solid silver;
    width: 90%;
    padding: 15px;
    margin: 22px auto;
    font-size: 0.8em;
}
.article-container textarea {
    width: 100%;
}
.article-container button {
    margin: 20px 30px 20px 0;
    padding: 7px 15px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid gray;
    padding: 7px 30px;
}
.article-container button:hover {
    background: #5a086e;
    border: 1px solid #444343;
    color: white;
}