<section>

    <div class="container">
        <ul class=""taj>
            <li *ngIf="data as value">{{ value.email }}</li>
        </ul>

        <div class="form-container">
            <div class="page-title">
                <h2>Nouvel article</h2>
            </div>

            <form>
                <div class="row-field">
                    <label for="titre">Utilisateur</label>
                    <input type="text" name="titre" id="titre" ngModel="titre" />
                </div>

                <div class="row-field">
                    <label for="contenu">Avatar</label>
                    <textarea name="contenu" id="contenu" ngModel="contenu" rows="7"></textarea>
                </div>

                <div class="row-field">
                    <button id="submit" (click)="ajouterArticle()">Enregistrer</button>
                </div>
            </form>
        </div>

        <div class="article-container" *ngFor="let x of articleList[0]">
            <div class="article-title">
                <h3>Titre : {{ x.titre }}</h3>
                <p>Date : {{ x.creation }}</p>
            </div>
            <div class="article-description">
                <p>Contenu : {{ x.contenu }}</p>
            </div>

            <div>
                <textarea name="commentaire" id="commentaire" ngModel="commentaire" rows="7" placeholder="Votre commentaire..."></textarea>
                <button id="submit">Ajouter un commentaire</button>
            </div>
        </div>
    </div>
</section>